<page-header title="{{ isEditMode ? 'Edit Category': 'New Category'}}" [nav]="['home','categories','new']"></page-header>

<div fxLayout="row wrap" class="matero-row">
    <div fxFlex="100" fxFlex.lt-sm="100" class="matero-col">
      <mat-card>
        <mat-card-title>{{ isEditMode ? 'Edit Category': 'New Category'}} </mat-card-title>
  
        <form [formGroup]="categoryForm" (submit)="onFormSubmit($event);" class="form-field-full">
          <div fxLayout="row wrap" fxLayoutGap="8px grid">
            
            <div fxFlex="50" fxFlex.lt-sm="100">
              <mat-form-field>
                <mat-label>Name</mat-label>
                <input matInput placeholder="Category Name" formControlName="name"
                       required>
                <mat-error *ngIf="categoryForm.get('name').invalid">
                  {{'validations.required' | translate}}
                </mat-error>
              </mat-form-field>
            </div>
  
            <div fxFlex="50" fxFlex.lt-sm="100">
              <mat-form-field>
                <mat-label>Parent Category</mat-label>
                <mat-select formControlName="parent" placeholder="Parent Category">
                    <mat-option *ngFor="let cate of categoryList" [value]="cate._id">{{cate.name}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <div fxFlex="25" fxFlex.lt-sm="100">
              <mat-form-field>
                <mat-label>Position</mat-label>
                <input matInput placeholder="Sort Order" formControlName="sort"
                       required type="number">
                <mat-error *ngIf="categoryForm.get('sort').invalid">
                  {{'validations.required' | translate}}
                </mat-error>
              </mat-form-field>
            </div>
  
            <div fxFlex="25" fxFlex.lt-sm="100">
              <mat-form-field>
                <mat-label>Image URL</mat-label>
                <input matInput placeholder="Image URL" type="text"
                       formControlName="category_image" required>
                <!-- <input type="file" #file (change)="fileUpladChange($event)"
                       formControlName="category_img" hidden="true"> -->
                <!-- <button mat-button type="button" matSuffix mat-icon-button aria-label="Upload"
                  (click)="file.click()">
                  <mat-icon>folder</mat-icon>
                </button> -->
                <mat-error *ngIf="categoryForm.get('category_image').invalid">
                  {{'validations.required' | translate}}
                </mat-error>
              </mat-form-field>
            </div>

            <div fxFlex="25" fxFlex.lt-sm="100">
              <mat-slide-toggle formControlName="isactive" color="primary">
                Is Active
              </mat-slide-toggle>
            </div>
  
          </div>
  
          <button mat-raised-button color="primary" type="submit" class="m-t-8">Save</button>
        </form>
  
      </mat-card>
    </div>
</div>